@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto+Slab:300,400,700');


@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

body {
  background: #222222;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;

  h1, h2, h3, h4, span.label {
    font-family: 'Roboto Slab', serif;
  }

  .absolute {
    position: absolute;
    backface-visibility: hidden;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
  }

  .spt150px {
    padding-top: 150px;
  }

  .button {
    position: relative;
    cursor: pointer;
    color: #000000;
    font-size: 4.4rem;
    line-height: 1.1;
    text-transform: uppercase;
    width: 23%;
    height: 0;
    padding-bottom: 11%;
    margin: 0 auto;
    display: block;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;

      .svg-shadow {
        fill: rgba(0, 0, 0, .3);
      }

      .svg-fill {
        fill: #ff9900;
        transition: fill .3s;
      }
    }

    .icon {
      position: absolute;
      left: 5%;
      top: 50%;
      // transform: translateY(-50%);
      @include prefix(transform, translateY(-50%), webkit ms);
      width: 30%;
      transition: transform .3s cubic-bezier(.47,2.02,.31,-.36),-webkit-transform .3s cubic-bezier(.47,2.02,.31,-.36);
      backface-visibility: hidden;
    }

    .label {
      position: absolute;
      right: 0;
      top: 50%;
      // transform: translateY(-50%);
      @include prefix(transform, translateY(-50%), webkit ms);
      width: 70%;
      padding: 5%;
      text-align: center;
    }
  } // button

  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container, .wrapper {
    position: relative;
    width: 100%;

    .brishaw-header {
      background-color: #222222;
      width: 100%;
      color: #ffffff;
      height: auto;
      min-height: 100px;
      padding: 5px 0;

      .wrapper {
        max-width: 1240px;
        height: 100%;
        transform: none;

        .header-animation {
          h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            min-height: 100px;
            
            &.who-am-i {
              
              .wrap {
                border-color: #5D84BB;
              }
            }
          }
        }
      } // brishaw-header wrapper
    } // brishaw-header

    .floor {
      position: relative;
      width: 100%;
      overflow: hidden;

      section {
        position: relative;
        backface-visibility: hidden;
        height: auto;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;

        &.intro {
          z-index: 1;
          // transform: skew(0, -7deg);
          @include prefix(transform, skew(0, -7deg), webkit ms);
          margin-top: -7%;
          padding-top: 7%;

          .section-bg {
            background-image: url(../images/bgc.jpg);
            background-repeat: no-repeat;
          }

          .wrapper {
            // transform: skew(0, 7deg);
            @include prefix(transform, skew(0, 7deg), webkit ms);
            overflow: hidden;

            &::before {
              content: "";
              display: block;
              width: 100%;
              padding-bottom: 80%;
            }
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 94%;
            width: 100%;
            height: 10%;
            background-size: 100% 100%;
            background-image: url(../images/page_divider.png);
            background-repeat: no-repeat;
          }
        } // intro

        .section-bg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
          z-index: 0;
        } // section-bg

        &.portfolio {
          transform: skew(0, -3.7deg);
          margin-top: -10%;
          padding-bottom: 10%;

          &:nth-child(4n+2) {
            
            .section-bg {
              background-image: url(../images/bgb.jpg);
              background-repeat: no-repeat;
            }
          }

          &:nth-child(4n+3) {
            
            .section-bg {
              background-image: url(../images/bgd.jpg);
              background-repeat: no-repeat;
            }
          }

          &:nth-child(4n+4) {
            
            .section-bg {
              background-image: url(../images/bge.jpg);
              background-repeat: no-repeat;
            }
          }

          &:nth-child(4n+5) {
            
            .section-bg {
              background-image: url(../images/bgf.jpg);
              background-repeat: no-repeat;
            }
          }

          .section-bg {
            background-position: 50%;
          }

          .wrapper {
            transform: skew(0, 3.7deg);

            &::before {
              content: "";
              display: block;
              width: 100%;
              padding-bottom: 80%;
            }

            img {
              max-width: 100%;
              width: auto;
              height: auto;
              border: none;

              &.portfolio-image {
                width: 70%;
                max-width: none;
                position: absolute;
                left: 0;
                bottom: -9%;
                margin-left: 35%;

                &.recycled {
                  width: 57%;
                  bottom: -5%;
                  left: -15%;
                }

                &.pocket-pantry {
                  width: 57%;
                  bottom: -3%;
                  left: -10%;
                }

                &.idecide {
                  width: 57%;
                  bottom: -5%;
                  left: -15%;
                }

                &.benclicky {
                  width: 57%;
                  bottom: -2%;
                  left: -10%;
                }

                &.eat-da-burger {
                  width: 57%;
                  bottom: -5%;
                  left: -15%;
                }

                &.crystal-collector {
                  width: 57%;
                  bottom: -2%;
                  left: -10%;
                }

                &.giftastic {
                  width: 57%;
                  bottom: -5%;
                  left: -15%;
                }

                &.hangman {
                  width: 57%;
                  bottom: -5%;
                  left: -10%;
                }

                &.friend-finder {
                  width: 57%;
                  bottom: -3%;
                  left: -15%;
                }

                &.nightout {
                  width: 57%;
                  bottom: -3%;
                  left: -10%;
                }

                &.train-time {
                  width: 57%;
                  bottom: -5%;
                  left: -15%;
                }
              }
            } // img

            .title-arrow {
              position: absolute;
              color: #ffffff;
              font-size: 6.4rem;
              line-height: 1.1;
              text-transform: uppercase;
              text-align: center;

              &.title {
                width: 350px;
                right: 0;
                margin-right: 18%;
                top: 7%;
                z-index: 2;

                &.recycled {
                  width: 400px;
                }
              }

              h2 {
                font-size: 5.4rem;
                font-weight: 700;
                line-height: 1.1;

                &.name {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  display: inline-block;
                  transform: translate(-50%, -50%) rotate(7deg);
                  backface-visibility: hidden;
                  width: 100%;
                  transition: opacity .3s;
                  z-index: 1;

                  &.alt {
                    transform: translate(-50%, -50%) rotate(-7deg);
                  }
                }
              } // h2
              
              img {
                position: relative;
                width: 100%;
                z-index: 0;
                transform: rotate(7deg);

                &.alt {
                  transform: rotate(-7deg);
                }
              }

              span {

                &.ntt {
                  text-transform: none;
                }
              }
            } // title-arrow
            
            .controls {
              position: absolute;
              left: 7%;
              top: 51%;
              width: 23%;

              .button {
                position: relative;
                transform: scale(0);
                transition: transform .4s, -webkit-transform 4s;
                width: 100%;
                padding-bottom: 47%;

                &.btn {
                  transition-delay: .4s;
                }

                &.ani-in {
                  transform: scale(1);
                }

                img {
                  
                  &.icon {
                    position: absolute;
                    left: 5%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30%;
                    transition: transform .3s cubic-bezier(.47,2.02,.31,-.36),-webkit-transform .3s cubic-bezier(.47,2.02,.31,-.36);
                    backface-visibility: hidden;
                  }
                } // img

                span {

                  &.label {
                    top: 43%;
                    position: absolute;
                    right: 0;
                    transform: translateY(-50%) rotate(-3deg);
                    width: 70%;
                    padding: 5%;
                    text-align: center;
                    font-weight: 700;
                  }
                }
              }
            }
          } // wrapper

          &.recycled {
            padding-top: 12%;

          }

          &.alt {
            transform: skew(0, 7deg);

            .wrapper {
              transform: skew(0, -7deg);

              img {

                .portfolio-image {
                  margin-left: 0;
                }
              }

              .title-arrow {
                right: auto;
                left: 0;
                margin-left: 18%;
                margin-right: 0;

                h2 {
                  &.alt {
                    transform: translate(-50%, -50%) rotate(7deg);
                  }
                }

                img {
                  transform: scaleX(-1) rotate(-7deg);
                }
              }

              .controls {
                left: auto;
                right: 7%;
              }
            }
          }


          &.portfolio-end {
            background-color: #222222;
            padding-bottom: 17%;
            margin-bottom: -7%;
          }

          &::after {
            content: "";
            display: block;
            background-color: #000000;
            width: 100%;
            height: 20px;
            position: absolute;
            bottom: 100%;
            margin-bottom: -19px;
          }

        } // portfolio 
      } // section
    } // floor

    a {

      &.btt {
        font-size: 2.8rem;
        line-height: 1.1;
        width: 300px;
        padding-bottom: 71px;
        margin: 20px auto;

        .icon {
          width: 23%;
          left: 9%;
          top: 55%;
        }

        .label {
          transform: translateY(-50%) rotate(-3deg);
          width: 77%;
          font-weight: 700;
          font-size: 1.7rem;
          right: auto;
          left: 13%;
          padding-bottom: 7%;
        }
      }
    } // a
    
    footer {
      position: relative;
      width: 100%;
      background-color: #000000;
      color: #ffffff;
      padding: 10px 20px 20px 20px;
      font-size: 1rem;
      line-height: 1.1;
      z-index: 4;

      .copy, .text {
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }

      .copy {
        width: 45%;

        .about-me, .social-me {
          width: 100%;
        }

        .about-me {
          margin-bottom: 10px;
        }

        .social-me {
          display: flex;
          flex-direction: row;

          a {

            img {

              &.github {
                width: 32px;
                height: 32px;
              }

              &.linkedin {
                width: 37px;
                height: 37px;
              }
            }
          }
        }
      } // copy

      .text {
        width: 50%;
        padding-left: 10px;
        text-align: right;

        svg {
          display: inline-block;
          vertical-align: middle;
          width: 20%;
          margin-left: 6%;

          .svg-fill {
            fill: #ff9900;
          }
        }

        span {

          &.label {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(-2deg);
            width: 76%;
            padding: 3% 2% 2% 2%;
            font-size: 2rem;
            line-height: 1.1;
            font-weight: 700;
            text-transform: uppercase;
            color: #000000;      
          }
        } 
      }
    } // footer
  } // container
} // body
